html{
   font-size: 62.5%;
}

/* Estiliza o corpo da página */
body {
    font-family: "Chakra Petch", sans-serif; /* Define a fonte padrão */
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    height: 95vh; 
    background: url(../images/tour3.avif) no-repeat;
    background-size: cover;
}

/* Estiliza os títulos h1 */
h1 {
    font-size: 4rem; /* Tamanho da fonte */
    color:  var(--color-texto-geral); /* Cor do texto */
    text-align: center; /* Alinha o texto ao centro */
    letter-spacing: 0.4rem; /* Espaçamento entre letras */
    text-shadow: 2px 2px 4px #888; 
    margin: 30px 0;
}

/* Estiliza as seções da página */
section {
    display: flex; /* Usa Flexbox para layout */
    flex-direction: column; /* Alinha os itens na vertical */
    align-items: center; /* Centraliza os itens horizontalmente */
    margin-bottom: 3rem; /* Espaçamento abaixo de cada seção */
}

/* Estiliza os inputs dentro das seções */
section input {
    width: 50rem; /* Largura dos inputs */
    border: none; /* Remove a borda padrão */
    padding: 1rem; /* Espaçamento interno */
    border-radius: 1.5rem; /* Borda arredondada */
    margin-bottom: 1rem; /* Espaçamento abaixo dos inputs */
    color: var(--color-texto-principal); /* Cor do texto */
    font-size: 3rem; /* Tamanho da fonte */
    text-align: center;
}

/* Estiliza os botões dentro das seções */
section button {
    padding: 1.6rem 3rem; /* Espaçamento interno do botão */
    border: none; /* Remove a borda padrão */
    border-radius: 1.5rem; /* Borda arredondada */
    background-color: var(--color-btn); /* Cor de fundo do botão */
    color: var(--color-texto-geral); /* Cor do texto do botão */
    font-size: 2rem; /* Tamanho da fonte */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

section button:hover{
    background-color: var(--color-btn-hover);
    opacity: 0.9;
    transition: 0.3s ease-in-out;
}

header h1 .tour{
    color: rgb(10, 10, 151);
}

header h1 .france{
    color: rgb(236, 13, 13);
}
/* Estiliza a caixa de resultados da pesquisa */
.resultados-pesquisa {
    width: 60rem; /* Largura máxima da caixa de resultados */
    height: 46vh; /* Altura máxima da caixa de resultados */
    overflow-y: auto; /* Adiciona rolagem vertical se necessário */
    margin-top: 1rem; /* Espaçamento acima da caixa de resultados */
    padding: 1rem; /* Espaçamento interno */
    border-radius: 0.6rem; /* Borda arredondada */
}

/* Estiliza cada item de resultado */
.item-resultado {
    background: var(--color-texto-geral); /* Cor de fundo dos itens */
    width: 50rem; 
    border-radius: 0.6rem; /* Borda arredondada */
    padding: 2rem; /* Espaçamento interno */
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* Estiliza os títulos dentro dos itens de resultado */
.item-resultado .ano-prova {
    font-size: 2.4rem; /* Tamanho da fonte */
    font-weight: 500;
    margin: 0;
    color: #e01111; /* Cor do texto */
}

.item-resultado .nome-ciclista {
    font-size: 4rem; /* Tamanho da fonte */
    font-weight: 700;
    margin: 0;
    color: var(--color-texto-principal); /* Cor do texto */
    text-transform: uppercase;
}

.item-resultado .pais-ciclista {
    font-size: 3rem; /* Tamanho da fonte */
    font-weight: 500;
    margin: 0;
    color: var(--color-texto-principal); /* Cor do texto */
}

.prova  {
    display: flex;
    text-align: center;
    font-size: 2.4rem; /* Tamanho da fonte */
    font-weight: 500;
    color: var(--color-texto-principal); /* Cor do texto */
    gap: 2rem;
    margin-top: 20px;
}

.prova .tempo-prova, .distancia-prova {
    margin: 0;
}

.item-resultado .prova .icone {
    color: #22007e;
}

footer {
    /* position: fixed;
    bottom: 0;
    left: 0; */
    width: 100%;
    padding: 1rem;
    text-align: center;
}

footer p{
    color: var(--color-texto-geral);
    font-size: 1.6rem;
}

@media (max-width: 600px){
    body{
        background-size: auto auto;
        text-align: center;
        margin: 0 auto;
    }

    h1{
        font-size: 2.5rem;
        margin: 20px 0;
    }

   section {
        max-width: 90%;
        margin: 0 auto; 
    }
    section input {
        width: 80vw;
        font-size: 2rem;
    }

    section button {
        font-size: 1.3rem;        
    }

    .resultados-pesquisa {
        max-width: 90%;
        margin: 0 auto;
    }
}